@font-face {
    font-family: 'Outfit';
    src: url("../fonts/Outfit/Outfit-Regular.ttf");
    font-size: 1em;
}
@font-face {
    font-family: 'Outfit-SemiBold';
    src: url("../fonts/Outfit/Outfit-SemiBold.ttf");
    font-size: 1em;
}
body, html{
    scroll-behavior: smooth;
}
h1{
    text-align: center;
    font-family: Outfit;
    font-weight: bold;
}
h2 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: Outfit;
}
p{
    text-align: justify;
    font-family: Outfit;
    margin-bottom: 0;
    font-size: 18px;
}
ul {
    list-style-type: none;
}
.text-banner {
    position: relative;
    top: 3px;
    text-align: center;
    font-family: Outfit;
    color: #FFFFFF;
    font-size: 16px;
}
header{
    width: 100%;
    height: 125px;
    background-color: rgba(255, 255, 255, .8);
    z-index: 2;
    position: fixed;
}
header:hover{
    background-color: rgba(255, 255, 255, 255);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.1),
            4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
header .container{
    position: relative;
}
header #logotipo{
    position: absolute;
    top: -4px;
}
#menu {
    margin: 26px 0;
}
#menu li{
    display: inline-block;
    font-family: "Outfit";
}
#menu li a{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
}
#menu li a:hover{
    color: #A42447;
}
#menu ul{
    display: inline;
    position: absolute;
    right: 125px;
    animation: 0.5s ease 0.442857s 1 normal forwards running navLinkFade;
}

/* black icon bar*/
header .header-black{
    height: 41px;
    background-color: #000;
}
header .header-black li a:hover{
    cursor: default;
}
header .header-black li {
    background-image: url("../png/black-icon-navbar.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 2px 20px;
}

header .header-black li.icon-01{
    background-position: 0px -3px;
}
header .header-black li.icon-02{
    background-position: -61px -3px;
}
header .header-black li.icon-03{
    background-position: -123px -3px;
}
header .header-black li.icon-04{
    background-position: -183px -3px;
}
header .header-black li.icon-05{
    background-position: -243px -3px;
}
header .header-black li.icon-06{
    background-position: -302px -3px;
}
header .header-black li.icon-07{
    background-position: -421px -3px;
}
header .header-black li.icon-08{
    background-position: -481px -3px;
}
header .header-black li.icon-09{
    background-position: -537px -3px;
}
header .header-black li.icon-10{
    background-position: -745px -3px;
}
header .header-black li.icon-11{
    background-position: -647px -3px;
}
header .header-black li.icon-12{
    background-position: -574px -3px;
}
header .header-black li a{
    width: 37px;
    height: 32px;
    display: block;
}
#btn-bars{
    display: none;
} /* end - black icon bar*/

section{
    top: -300px;
    padding-top: 140px;
}
#imagem-principal{
    width: 100%;
    height: 910px;
    position: relative;
    background: url("../png/create.jpg") no-repeat;
    background-size: cover;
    top: -110px;
    filter: brightness(25%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
}
#seccao1 .container{
    top: 100px;
}
#seccao1 .col-4.developer {
    font-size: 56px;
}
#seccao1 h1{
    position: relative;
    color: #FFFFFF;
    font-size: 70px;
    top: -700px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
}
#seccao1 h3{
    color: #FFFFFF;
    font-size: 30px;
    top: -698px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
}
#bio{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #fff;
    margin-bottom: 0;
}
.col-md-2 {
    align-items: center;
    text-align: center;
    padding: 0;
}
#bio-git-icon {
    color: #1b1e21;
    font-size: 40px !important;
}
#bio-git-icon:hover {
    color: #4e555b;
}
#bio-linkedin-icon {
    color: #1b1e21;
    font-size: 40px !important;
}
#bio-linkedin-icon:hover {
    color: #0A66C2;
}

#bio-div-container{
    margin-top: 40px;
}
#bio-table.col-lg-6{
    padding: 50px;
}
#cv-button{
    text-align: center;
    padding: 0px;
}
#bio-photo.col-lg-6{
    padding: 50px 80px 50px 80px;
}
#work{
    width: 100%;
    height: 1100px;
    background-color: #f1f2f6;
}

#web-application img, #projects img{
    width: 100px;
    height: 100px;
    border-radius: 4px;
}
#work .col-md-2{
    display: inline-block;
    transition: 0.5s all ease-in-out;
    text-align: center;
    left: 55px;
    padding: 5px;
}
#work .col-md-2:hover{
    transform: scale(1.1);
}
#work .container h3{
    margin: 40px;
    font-family: Outfit;
    font-size: 25px;
    font-weight: bold;
}
/* pop-up */
#work .button {
    font-family: Outfit;
    font-size: 1em;
    position: relative;
    float: right;
    padding: 10px;
    color: #fff;
    background-color: rgb(170,23,66);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
#work .button:hover {
    background: rgba(170,23,66, .8);
}
.git-button {
    font-family: Outfit;
    font-size: 1em;
    position: relative;
    float: right;
    padding: 10px;
    color: #fff;
    background-color: rgb(170,23,66);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    left: -9px;
}
.git-button:hover {
    background: rgba(170,23,66, .8);
    color: #FFFFFF;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    position: absolute;
    min-width: 364px;
    max-width: 800px;
    max-height: 900px;
    /*width: 50%;*/
    top: 20%;
    left: 28%;
    padding: 1%;
    background: rgba(0, 0, 0, .7);
    border-radius: 5px;
    transition: all 5s ease-in-out;
}
.popup .container{
    font-size: 14px;
}
.popup li{
    list-style-type: disc;
}
.popup h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-family: Outfit;
}
.popup p{
    color: #FFF;
    font-family: Outfit;
}
.popup h6{
    color: rgb(170,23,66);
}
.popup ul li{
    color: #FFFFFF;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.popup .close:hover {
    color: rgb(170,23,66);
}
.popup .content {
    font-family: Outfit;
    color: #FFFFFF;
    min-height: 100px;
    overflow: hidden;
}
.popup-img {
    border: 0.5px solid #fff;
    width: 90%;
    height: 90%;
}
.popup-img:hover {
    transform: scale(1.08);
    transition: all 0.5s ease-in-out;
}
#claudio-img {
    width: 95%;
    height: 78%;
}
#aqualine-img {
    width: 100%;
    height: 67%;
}
#vilasurf-img {
    width: 100%;
    height: 86%
}
#eduardo-img {
    width: 100%;
    height: 81%;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}
/* Fim Pop-up */
#skills{
    width: 100%;
    height: 775px;
    background-color: #fff;
}
#skills .container{
    padding-top: 40px;
    padding-bottom: 25px;
}
#skills h3{
    font-family: Outfit;
    font-size: 25px;
    font-weight: bold;
}
#skills h4{
    padding-top: 8px;
    font-family: Outfit-SemiBold;
    font-size: 20px;
}
#skills .container h4 ul{
    font-family: Outfit;
    list-style-type: disc;
}
#skills li{
    margin: 10px 0;
}
#skills li a:hover{
    cursor: default;
}
#skills .lower-banner{
    height: 41px;
}
#skills .lower-banner li {
    background-image: url("../png/black-icon-navbar.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 2px 20px;
}
#lang-skills-bar{
    float: none;
    text-align: center;
}
#skills .lower-banner li.icon-01{
    background-position: 0px -3px;
}
#skills .lower-banner li.icon-02{
    background-position: -61px -3px;
}
#skills .lower-banner li.icon-03{
    background-position: -123px -3px;
}
#skills .lower-banner li.icon-04{
    background-position: -183px -3px;
}
#skills .lower-banner li.icon-05{
    background-position: -243px -3px;
}
#skills .lower-banner li.icon-06{
    background-position: -302px -3px;
}
#skills .lower-banner li.icon-07{
    background-position: -421px -3px;
}
#skills .lower-banner li.icon-08{
    background-position: -481px -3px;
}
#skills .lower-banner li.icon-09{
    background-position: -537px -3px;
}
#skills .lower-banner li.icon-10{
    background-position: -745px -3px;
}
#skills .lower-banner li.icon-11{
    background-position: -647px -3px;
}
#skills .lower-banner li.icon-12{
    background-position: -574px -3px;
}
#skills .lower-banner li a{
    width: 37px;
    height: 32px;
    display: block;
}
#contact{
    width: 100%;
    height: 850px;
    background-color: #f1f2f6;
    font-family: Outfit;
}
.contact h1{
    margin-top: -100px;
    margin-bottom: 60px;
}
/* CV-button */
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
button {
    margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: Outfit;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-7 {
    background: linear-gradient(0deg, rgb(255,255,255) 20%, rgba(255,255,255,255) 100%);
    line-height: 42px;
    padding: 0;
    border: 30px;
}
.btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7:before{
    height: 0%;
    width: 2px;
}
.btn-7:after {
    width: 0%;
    height: 2px;
}
.btn-7:hover{
    color: rgba(0,0,0,1);
    background: transparent;
}
.btn-7:hover:before {
    height: 100%;
}
.btn-7:hover:after {
    width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(170,23,66);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7 span:before {
    width: 2px;
    height: 0%;
}
.btn-7 span:after {
    height: 2px;
    width: 0%;
}
.btn-7 span:hover:before {
    height: 100%;
}
.btn-7 span:hover:after {
    width: 100%;
}
.vertical-center {
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 130px 50px 80px 100px;
} /* end-CV-button*/

/* box-contact form*/
#box-form {
    transition: box-shadow .3s;
    width: 400px;
    height: 520px;
    margin-left: -24px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    padding: 30px 30px 30px 30px;
}
#box-form:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#message{
    resize: none;
    height: 100px;
    width: 350px;
}
.form-control:focus {
    box-shadow: none;
    border-color: #4e555b;
}  /* end-box*/

footer{
    width: 100%;
    height: 40px;
    background-color: #000000;
}
.text-footer {
    position: relative;
    top: 3px;
    text-align: center;
    font-family: Outfit;
    color: #FFFFFF;
    font-size: 16px;
}
.text-footer a:hover {
    color: #b9bbbe;
}
#footer-git-icon {
    color: white;
    font-size: 25px;
}
#footer-linkedin-icon {
    color: white;
    font-size: 25px;
}
#footer-git-icon:hover {
    color: #b9bbbe;
}
#footer-linkedin-icon:hover {
    color: #b9bbbe;
}
#m2 {
    right: -65px;
}
#container-footer {
    width: 100%;
}
/* lateral floating button */
.floating-container {
    position: fixed;
    z-index: 999;
    bottom: 97px;
    right: -47px;
    display: grid;
    width: auto;
    transform: rotate(90deg);
}
.btn-primary {
    font-family: Outfit;
    font-size: 17px;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    border-color: #000;
    letter-spacing: .5px;
}
.btn-primary:hover{
    font-family: Outfit;
    font-size: 17px;
    color: #FFFFFF;
    background-color:rgba(179,31,72, .8);
    border: #FFFFFF;
}
a:focus {
    outline: 0;
}
.visible-xs {
    display: none;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(179,31,72, .9);
    border-radius: 10px;
}
#shadow-host-companion{
    padding-top: 0;
}

a {color: #fff; transition: text-color 0.5s;}
a:link { text-decoration: none}
a:visited { text-decoration: none}
a:hover { text-decoration: none}
a:active { text-decoration: none}
a:focus { outline: 0}

.col-6 {
    max-width: 100%;
}